/* Gloabl */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: rgba(244, 201, 93, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Lognin box */
.login--form {
  border: 1px solid #f4c95d;
  background: #233142;
  height: 50vh;
  padding: 10px;
  text-align: center;
  border-radius: 10%;
  min-width: 45%;
}

/* Login header */
.login--header {
  font-size: 2rem;
  color: #f4c95d;
  padding: 7rem 2rem 1rem;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 0.2rem;
}

/* Username and password inputs */
.login--username,
.login--password {
  border: 2px solid #f4c95d;
  outline: none;
  display: block;
  margin: 2rem auto;
  text-align: center;
  padding: 1rem;
  background: none;
  color: #f4c95d;
  transition: 0.15s ease-in-out;
  border-radius: 2.4rem;
}

/* Username and password on focus */
.login--username:focus,
.login--password:focus {
  width: 16rem;
}

/* Login btn */
.login--btn {
  border: 2px solid #f4c95d;
  outline: none;
  display: block;
  margin: 6rem auto;
  text-align: center;
  padding: 1rem 4rem;
  background: none;
  color: #f4c95d;
  transition: 0.15s ease-in-out;
  border-radius: 2.4rem;
  cursor: pointer;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: monospace, sans-serif;
}

/* Login btn on hover */
.login--btn:hover {
  background: #f4c95d;
  color: #233142;
  /* transition: .3s ease; */
  transition: all 0.8s ease-out;
}
